<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyABpr0HRUfDERwNFMMeNHmGRE2vfYKLXOo</string>
	<key>GCM_SENDER_ID</key>
	<string>324954157038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fashionApp</string>
	<key>PROJECT_ID</key>
	<string>fashion-app-a618e</string>
	<key>STORAGE_BUCKET</key>
	<string>fashion-app-a618e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:324954157038:ios:054327501098bd1a2ae8ff</string>
</dict>
</plist>