<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAC3t7nC9Y6QnltOmsQeesMMVrbZV-rzuM</string>
	<key>GCM_SENDER_ID</key>
	<string>1095450589828</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.brondo.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>brondo-d4f88</string>
	<key>STORAGE_BUCKET</key>
	<string>brondo-d4f88.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1095450589828:ios:8e583a2fa96ddb68f760d1</string>
</dict>
</plist>